*{
    font-family: arial,sans-serif;
}

body, html{
    width: 100%;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    list-style: none;
}

a:hover{
    border-bottom: 1px solid #000;
}

/*navigation area*/
nav{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;
}

.links a{
    margin: 0 10px;
    font-size: 0.8em;
    color: rgb(44, 42, 42);
}

.link-icon{
    position: relative;
    top: 7px;
}
/*navigation area*/

/*google search area*/
#search{
    margin-top: 200px;
}

section div{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons{
    margin-top: 50px;
}

.form{
    position: relative;
}

#search-box{
    border: 1px solid #e4dede;
    border-radius: 100px;
    width: 580px;
    height: 45px;
    outline: 0;
    position: absolute;
    transition: all 200ms ease-out;
    padding-left: 60px;
}

#search-box:hover{
    box-shadow: 0 1px 11px rgba(0,0,0,0.2); 
}

#search-btn{
    z-index: 1;
    margin-right: 500px;
    margin-top: 10px;
    color: rgb(172, 167, 167);
    position: absolute;
}

.microphone{
    z-index: 1;
    margin-top: 10px;
    position: absolute;
    margin-left: 500px;
}

#btn{
    padding: 0;
    border: none;
    background: none;
    margin: 20px 20px;
    font-size: 0.9em;
}

.country{
    font-size: 0.8em;
}
/*google search area*/

/*footer area*/
footer{
    color: #6F6F6F;
    background-color: #f1f1f1;
    bottom: 0;
    position: absolute;
    width: 100%;
    color: #6F6F6F;
    background-color: #f1f1f1;
}

.info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid rgb(207, 197, 197);
    padding: 10px;
}

footer a{
    margin: 0 10px;
    color: #6F6F6F;
    font-size: 0.9em;
}

footer p{
    padding-top: 10px;
    margin-left: 18px;
    font-size: 0.9em;
}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border: 2px solid rgb(207, 198, 198);
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: rgb(44, 42, 42);
    padding: 12px;
    display: block;
}
  
.dropdown:hover .dropdown-content {
    display: block;
    bottom: 100%;
    right: 20%;
}
/*footer area*/

/*media queries*/
@media screen and (max-width: 750px) {
    #search{
        margin-top: 90px;
    }
    #search-box{
        border: 1px solid #e4dede;
        border-radius: 100px;
        width: 320px;
        height: 45px;
        outline: 0;
        position: absolute;
        transition: all 200ms ease-out;
        }
    .about{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
        line-height: 20px;
    }
    .privacy{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
    }
    #search-btn {
        margin-right: 270px;      
    }
    .microphone {
        margin-left: 270px;
    }
}
@media screen and (min-width: 760px) and (max-width: 1024px) {
    #search{
        margin-top: 90px;
    }
    .buttons{
        margin-top: 60px;
    }
    .microphone{
        margin-left: 500px;
    }
}
/*media queries*/